/* Add a black background color to the top navigation */
.topnav {
	background-color: #126296;
	overflow: hidden;
	margin-top: -8px;
	width: 102%;
	margin-left: -10px;
	height: 45px;
	-webkit-box-shadow: 0px 3px 5px #FFFFFF;
	-moz-box-shadow: 0px 3px 5px #FFFFFF;
	box-shadow: 0px 3px 5px #FFFFFF;
}

.botnav {
	background-color: #29487d;
	overflow: hidden;
	margin-top: 16px;
	margin-bottom: 0px;
	width: 102%;
	margin-left: -10px;
	height: 90px;
	box-shadow: 0px -4px 0px #EEEEEE;
}

.centered {
	text-align: center;
	margin-left: 50%;
}

.navBarHeadingText {
	float: left;
	margin-top: -6px;
}

.navBarButtons {
	float: right;
	margin-right: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

#header {
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.headerLogo {
	width: 42px;
	height: 42px;
	margin-top: 2px;
	margin-left: 15px;
	float: left;
}

div.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	margin-top: 25px;
	align-self: center;
}

div.container {
	padding: 10px;
	background-color: white;
}

body {
	background-color: #2874A6;
}

li#dwtCompressionLi {
	margin: 6px -27px;
	float: left;
}

.h2Style {
	margin-bottom: -3px;
}

.sup {
	position: relative;
	bottom: 1ex;
	font-size: 70%;
}

table td {
	table-layout: fixed;
	width: 220px;
	overflow: hidden;
	word-wrap: break-word;
}

.rpnTable {
	border-collapse: collapse;
	border: 1px solid #000000;
	align: left;
	border: 1px solid black;
	height: 40px;
	text-align: left;
}

.rpnTableHeader {
	background: none repeat scroll 0 0 #eaecf0;
	border-bottom: 1px solid black;
	padding: 1px;
	text-align: center;
}

.rpnTableOddRow {
	background: none repeat scroll 0 0 #f8f9fa;
	text-indent: 10px;
}

.rpnTableEvenRow {
	background: none repeat scroll 0 0 #f8f9fa;
	text-indent: 10px;
}

.myDataTable td {
	border: 1px solid black;
	background-color: #f8f9fa;
}

.centerText {
	text-align: center;
}

.myColumn {
	width: 24px;
}

.myDCTTable td {
	border: 1px solid black;
	background-color: #f8f9fa;
	width: 40px;
	text-align: center;
}

.removeTopPadding {
	padding-top: 0;
	align: "center";
}

.matricesCalcButton {
	margin-top: 10px;
	width: 85px;
}

	
	
	