<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<title>Applied Mathematics Project - Team Athena</title>
	<h:outputStylesheet name="stylesheet.css" library="css" />
	<link rel="icon" href="resources/images/favicon.ico"
		type="image/x-icon" />
</h:head>

<h:body>
	<header>
	<div class="topnav" id="myTopnav">
		<img src="resources/images/calculator3.png" class="headerLogo"
			alt="Calculator Logo" />
		<div class="navBarHeadingText">

			<h:link style="font-size: 23px;" value="Applied Mathematics Project"
				outcome="index" />

		</div>
		<div class="navBarButtons">
			<h:link style="font-size: 23px; margin-top: -5px;"
				value="Return Home" outcome="index" />
		</div>
	</div>
	</header>
	<div class="card">

		<div class="container">
			<h2 class="h2Style">Team Members of Athena</h2>
			<p>
				Boglarka Bordas <br /> <span
					style='color: red; text-decoration: line-through'><span
					style='color: black'>Andre Cunha</span></span> (Resigned) <br /> Conor
				Marshall (Scrum Master) <br /> David Martin <br /> Aram Rassool <br />
				Shane Walsh
			</p>
		</div>
	</div>
</h:body>

</html>